* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    width:100vw;
    height:100vh;
    background-color: blue;

    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 'encabezado encabezado'
                         'barralateral contenido'
                         'piepagina piepagina';
}

.caja {
    background-color:aqua;
    text-align:center;
    border: 1px solid red;
}

#encabezado  { grid-area: encabezado;   }
#barralaetral{ grid-area: barralateral; }
#contenido   { grid-area: contenido;    }
#piepagina   { grid-area: piepagina;    }
